{% extends "app1/base.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="{% static "app1/css/dashboard.css" %}" rel="stylesheet" />
    <script src="{% static "app1/js/dashboard.js" %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    
    <script src="{% static "app1/js/require.min.js" %}"></script>
    <script>
    pre_data={'Id': '', 'title': '', 'publisher': '', 'author': '', 'copies':''}
    var myVariables={};
    $(document).ready(function() {
        myVariables.table=$('#myTable').DataTable( {
        data:pre_data,
        columns: [
            { data: 'Id' },
            { data: 'title' },
            { data: 'publisher' },
            { data: 'author' },
            { data: 'copies' },
           

    ]
    } );

    
    } );
    
  var addData=function (json_data) {
      myVariables.table.rows.add(json_data).draw();

   }
    
  function remtable(val)
  {
    myVariables.table.clear(); 
  }
    
  function fetchdata() 
  {
    var Field= document.forms["form"]["search-query"];
    var str1="http://localhost:8000/app1/results/";
    var res = str1.concat(Field.value);
    res=res.concat("/")
    $.ajax({
    dataType: "json",
    url: res,
    success: addData
        
    });
  }
    
</script>
{% endblock %}
{% block content %}
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="">
                <img src="{% static "/app1/images/logo.png" %}" class="header-brand-img" alt="tabler logo">
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="nav-item d-none d-md-flex">
              </div>
              <div class="dropdown">
                  
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-log-out"></i> Sign out
                    </a>
                  </div>
                </div>
              </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        
        <div class="my-3 my-md-5">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                    <form class="card" onsubmit="return fetchdata()" name="form">
                      <div class="card-header">
                        <h3 class="card-title">Search form</h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6 col-lg-4">
                              <div class="form-group" id="search_term">
                                <label class="form-label" >Enter the search field</label>
                                <input type="text" class="form-control" name="search-query" placeholder="Name of Book">
                              </div>
                          </div>
                        </div>
                      </div>
                              
                      <div class="card-footer text-right">
                        <div class="d-flex">
                          <button type="submit" class="btn btn-primary ml-auto">Send data</button>
                        </div>
                      </div>
                  
                </form>
              </div>
            
            <div class="page-header">
              <h1 class="page-title">
                Book Results
              </h1>
            </div>
            <div class="card">
              <table class="table card-table" id="myTable">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Publisher</th>
                  <th>Author</th>
                  <th>Copies</th>
              </tr>
             </thead>
              <tbody>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="">Documentation</a></li>
                    <li class="list-inline-item"><a href="">FAQ</a></li>
                  </ul>
                </div>
                <div class="col-auto">
                  
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2019 <a href=".">Abhilasha</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
{% endblock %}


